<div class="chat-card actor-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
	<header class="grid grid-5col">
            <span class="grid-span-5">
				{{{actor.label}}}
			</span>
    </header>
</div>